#root {
  min-height: 100vh;
  height: 100vh;
}
.h-90 {
  height: 90% !important;
    background-color:#24BF82;
}
.h-10 {
  height: 10% !important;
}

a {
    text-decoration: none;
}

.bottomNav {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #F2F2F2;
    position: sticky;
}
.app-header {
    justify-content: center;
    height: 25% !important;
    /* background-color:#24BF82; */
}
.app-header h1 {
    color: white;
    text-align:center;
    padding: 25px 25px;
}
.main {
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    margin-top: -9px;
    background-color: white;
    overflow: scroll;
    scrollbar-width: none; /* Firefox */
    padding: 0 10px;
}
/* Home page */
#getStarted > * {
    text-align: center;
    padding: 0.5em;
}
#addIngredients {
    background-color: #FF4F63;
    border-style: none;
    border-radius: 20em;
    width: 8em;

}
#addIngredients:hover {
    background-color:#ce4555;
    transition: 0.3s;
  }
.ingredientList {
    background-color:#F2F2F2;
}
.nutritionList {
    margin-bottom: 10px;
    border-style: none;
    border-radius: 5px !important;
    background-color:#D9D9D9;
}
.recipeItem {
    margin-bottom: 10px;
    background-color: #f6f6f6;
}

.recipeItem .card-title {
    text-decoration: none;
    color: #101010;
}
.search-component {
    height: 40px;
}
.top-recipe h3 {
    text-transform: capitalize;
}
.top-recipe-item img {
    height: 100px;
}
.ingredient-item {
    background-color: #F2F2F2;
}

.ingredient-item.active {
    background-color: #D9D9D9;
}
body {
  background-color: #24bf82;
}
.rectangle {
  width: max-width;
  height: 100px;
  background: white;
  border-style: hidden;
  border-radius: 20px;
  position: -webkit-sticky;
  height: 70%;

}
